<div class="text-center"> 
 <h1 id="title">UNLIMITED</h1>
    <div class="container">
    <p id="timer">00:00:00</p>
    <div class="button" id="buttonBox">
  <button id="st"
        class="btn btn-lg btn-primary">START</button>
    </div>  
  <%= render partial: "timers/time" %> 
  </div> 
</div>
  
  