@import "bootstrap"; 
@import "bootstrap-sprockets";  
@import "show"; 
@import "index";   


.text-center{ 
    font-weight:  bold; 
} 

.form-group {  
    font-size: 25px;  
    margin-top: 30px;
}  

.actions { 
    text-aligh: center;
    
} 


#bbb { 
    width: 150px;  
    font-weight: bold; 
    height: 50px; 
    font-size: 20px; 
    margin-top: 20px;
} 

.control { 
    color: #fff;  
    animation: title 0.3s 0.3s steps(100);
}  

.devise {  
    animation: title 0.3s 0.3s steps(100); 
    font-size: 40px;
}

@keyframes control devise { 
  @for $val from 0 through 100 { 
    @if $val <= 10 { 
      #{$val}% { 
        text-shadow: 3px 0 0 #fff, -3px 0 0 #000; 
      }  
    }@else if $val <= 20 { 
      #{$val}% { 
        text-shadow: 3px 0 0 #fff, 3px 0 0 #000; 
      }  
    }@else if $val <= 30 { 
      #{$val}% { 
        text-shadow: 0px 0 0 #000, 0px 0 0 #fff; 
      }    
    }@else if $val <= 40 { 
      #{$val}% { 
        text-shadow: 3px 0 0 #fff, -3px 0 0 #000; 
      }
    }@else if $val <= 50 { 
      #{$val}% { 
        text-shadow: 50px 0 0 #000, -50px 0 0 #fff;  
        filter: blur(0.5px); 
        color: transparent;
      }
    }@else if $val <= 60 { 
      #{$val}% { 
        text-shadow: -50px 0 0 #fff, 50px 0 0 #000;  
        filter: blur(0.5px); 
        color: transparent;
      }  
    }@else if $val <= 70 { 
      #{$val}% { 
        text-shadow: 3px 0 0 #000, -3px 0 0 #fff;  
        filter: blur(0.5px); 
        color: transparent;
      }    
    }@else if $val <= 80 { 
      #{$val}% { 
        text-shadow: -20px 0 0 #fff, 20px 0 0 #000;  
        filter: blur(0.5px); 
        color: transparent;
      }    
    }@else if $val <= 90 { 
      #{$val}% { 
        text-shadow: 0px 0 0 #000, 0px 0 0 #fff;  
      }      
    }@else if $val <= 100 { 
      #{$val}% { 
        text-shadow: -30px 0 0 #fff, 30px 0 0 #000;  
      }  
    } 
  } 
}
    